.intro-header { 
  background: no-repeat center center; 
  background-size: cover; 
  height: 300px;
  margin-bottom: 50px;
}

.fancyfont { 
  font-family: "Sofia";
  font-size: 100px;
} 
.row { 
  padding-top: 10px
} 

.profile_picture { 
 height: 100px;
}

.section-heading {
  color:white;
  padding-top: 50px;
  text-align: center;
  font-weight: bold;
}
td { 
    border-bottom: none;
} 

.speaker { 
    height: 200px
}
h5 { 
    display: inline-block;
    padding-right: 10px;
}
.speaker img { 
    height: 100px;
}
.speaker.name { 
    display:inline-block;
}
