{{ partial "head.html" . }}
<!-- Speakers -->
<div class="section">
    <div class="container">
        <div class="section-heading" style="color:black">
            <a name="{{ lower .Site.Params.speakers.title }}"></a>
            <h1>{{ .Site.Params.speakers.title }}</h1>
        </div>

        <!-- iterate through the speakers -->
        {{ range $i, $e := .Site.Params.speakers.person }}

        {{ if modBool $i 2 }}<div class="row">{{ end }}

            <div class="six columns speaker">
                <table>
                    <tr>
                        <td>
                            <img src="/img/speakers/{{ .img }}" alt="{{ .name }}" />
                        </td>
                        <td>
                            <h5>{{ .name }}</h5>
                            <a href="https://twitter.com/{{ .twitter }}" target="_blank">
                                <img src="img/twitter.png" alt="twitter" style="height: 20px" />
                            </a>
                            {{ if .talkTitle }}
                            <br>
                            <a href="{{ .talkLink }}" target="_blank">{{ .talkTitle }}</a>
                            {{ end }}
                            <br>&nbsp;
                        </td>
                    </tr>
                </table>
            </div>


            {{ if modBool $i 2 }}{{ else }}</div><!-- end .row -->{{ end }}
        {{ end }}

    </div>
</div>

<div class="section">
    <div class="container">
        <div class="section-heading" style="color:black">
            <a name="{{ lower .Site.Params.organizers.title }}"></a>
            <h1>{{ .Site.Params.organizers.title }}</h1>
        </div>

        <!-- iterate through the organizers -->
        {{ range $i, $e := .Site.Params.organizers.person }}

        {{ if modBool $i 2 }}<div class="row">{{ end }}

            <div class="six columns speaker">
                <table>
                    <tr>
                        <td>
                            <img src="/img/organizers/{{ .img }}" alt="{{ .name }}" />
                        </td>
                        <td>
                            <h5>{{ .name }}</h5>
                            <a href="https://twitter.com/{{ .twitter }}" target="_blank">
                                <img src="img/twitter.png" alt="twitter" style="height: 20px" />
                            </a>
                            {{ if .talkTitle }}
                            <br>
                            <a href="{{ .talkLink }}" target="_blank">{{ .talkTitle }}</a>
                            {{ end }}
                            <br>&nbsp;
                        </td>
                    </tr>
                </table>
            </div>

            {{ if modBool $i 2 }}{{ else }}</div><!-- end .row -->{{ end }}
        {{ end }}

    </div>
</div>

<!-- Render all the pages in /content/ -->
{{ range .Data.Pages }}
<div class="section">
    <div class="container">
        <div class="section-heading" style="color:black">
            <a name="{{ .Slug }}"></a>
            <h2>{{ .Title }}</h2>
        </div>

        <div class="row">
            {{ .Content }}
        </div>
    </div>
</div>
{{ end }}

{{ partial "foot.html" . }}
