{{ partial "head.html" . }}
<!-- Speakers -->
<div class="section">
    <div class="container">
        <div class="section-heading" style="color:black">
            <a name="{{ lower .Site.Params.speakers.title }}"></a>
            <h1>{{ .Site.Params.speakers.title }}</h1>
        </div>

        <!-- iterate through the speakers -->
        {{ range $i, $e := .Site.Params.speakers.person }}

        {{ if modBool $i 2 }}<div class="row">{{ end }}

            <div class="six columns speaker">
                <table>
                    <tr>
                        <td>
                            <img src="/img/speakers/{{ .img }}" alt="{{ .name }}" />
                        </td>
                        <td>
                            <h5>{{ .name }}</h5>
                            <a href="https://twitter.com/{{ .twitter }}" target="_blank">
                                <img src="img/twitter.png" alt="twitter" style="height: 20px" />
                            </a>
                            {{ if .talkTitle }}
                            <br>
                            <a href="{{ .talkLink }}" target="_blank">{{ .talkTitle }}</a>
                            {{ end }}
                            <br>&nbsp;
                        </td>
                    </tr>
                </table>
            </div>


            {{ if modBool $i 2 }}{{ else }}</div><!-- end .row -->{{ end }}
        {{ end }}

    </div>
</div>

<div class="section">
    <div class="container">
        <div class="section-heading" style="color:black">
            <a name="{{ lower .Site.Params.organizers.title }}"></a>
            <h1>{{ .Site.Params.organizers.title }}</h1>
        </div>

        <!-- iterate through the organizers -->
        {{ range $i, $e := .Site.Params.organizers.person }}

        {{ if modBool $i 2 }}<div class="row">{{ end }}

            <div class="six columns speaker">
                <table>
                    <tr>
                        <td>
                            <img src="/img/organizers/{{ .img }}" alt="{{ .name }}" />
                        </td>
                        <td>
                            <h5>{{ .name }}</h5>
                            <a href="https://twitter.com/{{ .twitter }}" target="_blank">
                                <img src="img/twitter.png" alt="twitter" style="height: 20px" />
                            </a>
                            {{ if .talkTitle }}
                            <br>
                            <a href="{{ .talkLink }}" target="_blank">{{ .talkTitle }}</a>
                            {{ end }}
                            <br>&nbsp;
                        </td>
                    </tr>
                </table>
            </div>

            {{ if modBool $i 2 }}{{ else }}</div><!-- end .row -->{{ end }}
        {{ end }}

    </div>
</div>

<div class="section">
    <div class="container">
        <div class="section-heading" style="color:black">
            <h1>Code of Conduct</h1>
        </div>
        <div class="row">
            <p>Our conference is dedicated to providing a harassment-free conference experience for everyone, regardless of gender, gender identity and expression, age, sexual orientation, disability, physical appearance, body size, race, ethnicity, religion (or lack thereof), or technology choices. We do not tolerate harassment of conference participants in any form. Sexual language and imagery is not appropriate for any conference venue, including talks, Twitter and other online media.</p>
            <p>We follow the JSConf/Ada Initiative Code of Conduct. A full copy of this Code is available on <a href="http://confcodeofconduct.com/">ConfCodeOfConduct.com</a></p>
        </div>
    </div>
</div>

<!-- Tickets Section -->
<div class="section">
    <div class="container">
        <div class="section-heading" style="color:black">
            <h1>Tickets</h1>
        </div>
        <div class="row">
            <p>JessConf 2016 is a free, community run event.</p><p>Seats are limited, but space is plentiful. We will be able to accomodate all attendees, but recommend you bring your own chair/seating.</p><p>Morning and afternoon tea will be provided by the local award-winning Country Women's Association</p>
        </div>
    </div>
</div>

<!-- Diversity Statement -->
<div class="section">
    <div class="container">
        <div class="section-heading" style="color:black">
            <h2>Diversity Statement</h2>
        </div>
        <div class="row">
            <p>JessConf is an inclusive conference.</p><p>We accept speakers whose name is derived from the root <i><a href="https://en.wikipedia.org/wiki/Jessica_(given_name)">Jessica</a></i> and starts with either a "J" or a "Y"</p>
            <p>Unsure of your etymology? Check the <a href="https://en.wikipedia.org/wiki/Jessica_(given_name)#Name_variations_and_nicknames">list of variations</a>.
        </div>
    </div>
</div>

{{ range .Data.Pages }}
<!-- {{ .Title }} -->
<div class="section">
    <div class="container">
        <div class="section-heading" style="color:black">
            <a name="{{ .Slug }}"></a>
            <h2>{{ .Title }}</h2>
        </div>

        <div class="row">
            {{ .Content }}
        </div>
    </div>
</div>
{{ end }}

{{ partial "foot.html" . }}
